<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pachinko.dao.IWithdrawDao">
    <resultMap id="BaseResultMap" type="org.pachinko.entity.Withdraw">

        <id column="id" jdbcType="BIGINT" property="id" />

        <result column="seller_id" jdbcType="INTEGER" property="sellerId" />
        <result column="seller_nick" jdbcType="VARCHAR" property="sellerNick" />
        <result column="seller_ronin" jdbcType="VARCHAR" property="sellerRonin" />


        <result column="chongzhi_price" jdbcType="DECIMAL" property="chongzhiPrice" />
        <result column="fee_price" jdbcType="DECIMAL" property="feePrice" />
        <result column="withdraw_price" jdbcType="DECIMAL" property="withdrawPrice" />

        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="created" jdbcType="TIMESTAMP" property="created" />
        <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    </resultMap>

    <insert id="insert" parameterType="org.pachinko.entity.Withdraw" useGeneratedKeys="true" keyProperty="id">
        insert into t_withdraw (

                          seller_id,
                          seller_nick,
                          seller_ronin,

                          chongzhi_price,
                          fee_price,
                          withdraw_price,

                          status,
                          created,
                          updated
                          )
        values (
                #{sellerId},
                #{sellerNick},
                #{sellerRonin},

                #{chongzhiPrice},
                #{feePrice},
                #{withdrawPrice},

                #{status},
                now(),
                now()
                )
    </insert>

    <update id="updateByPrimaryKey" parameterType="org.pachinko.entity.Withdraw">
        update t_withdraw
        set
            <if test="status != null">
                status = #{status},
            </if>
            updated = now()
        where id = #{id}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select *
        from t_withdraw
        where id = #{id}
    </select>

    <select id="selectBySeller" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select *
        from t_withdraw
        where seller_id = #{sellerId} and status = 1
    </select>

    <select id="queryWithdrawList"  resultMap="BaseResultMap">
        SELECT
        *
        FROM  t_withdraw
        where status = 1
        order by created desc
        LIMIT 200
    </select>


</mapper>